<section class="question" *ngIf="currentQuestion">
  <ion-chip [outline]="true" (click)="this.questionsService.resetQuiz()">To Categories</ion-chip>

  <ion-text color="tertiary">
    <h2>{{ currentQuestion.question }}</h2>
  </ion-text>

  <section class="answers" *ngIf="!result">
    @if (currentQuestion.type === this.questionType.BOOLEAN) {
      <ion-button expand="block" (click)="answer(true)">Yes</ion-button>
      <ion-button expand="block" (click)="answer(false)">No</ion-button>
    } @else {
      @for (answerOption of currentQuestion.answers; track answerOption) {
        <ion-button expand="block" (click)="answer(answerOption)">{{ answerOption }}</ion-button>
      }
    }
  </section>

  <section class="result" *ngIf="result">
    <ion-text [color]="result.is_correct ? 'success' : 'danger'">
      <h3>{{ result.is_correct ? 'Correct!' : 'Incorrect!' }}</h3>
      <p>Correct answer: {{ result.correct_answer }}</p>
    </ion-text>

    @if (this.questionsService.isNextQuestionAvailable()) {
      <ion-chip color="primary" (click)="this.questionsService.nextQuestion()">Next Question</ion-chip>
    } @else {
      <ion-text color="success">
        <h3>You've answered all questions!</h3>
      </ion-text>
    }
  </section>
</section>
