<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
    Email required
  </ion-note>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">
    Minimum 6 characters
  </ion-note>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lastname</ion-label>
    <ion-input type="text" formControlName="lastname"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="(authService.errorMessage$ | async) ?? false">
    <p class="ion-text-center">{{ authService.errorMessage$ | async }}</p>
  </ion-text>

  <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="ion-margin-top">
    Register
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="goToLogin()">
    Already have an account? Login
  </ion-button>
</form>

<ion-loading class="register-loading" [isOpen]="(this.authService.isLoading$ | async) ?? false" />