<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">
    Email обязателен
  </ion-note>

  <ion-item>
    <ion-label position="floating">Пароль</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-note color="danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">
    Минимум 6 символов
  </ion-note>

  <ion-item>
    <ion-label position="floating">Имя</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Фамилия</ion-label>
    <ion-input type="text" formControlName="lastname"></ion-input>
  </ion-item>

  <ion-text color="danger" *ngIf="errorMessage">
    <p class="ion-text-center">{{ errorMessage }}</p>
  </ion-text>

  <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="ion-margin-top">
    Зарегистрироваться
  </ion-button>

  <ion-button expand="block" fill="clear" (click)="goToLogin()">
    Уже есть аккаунт? Войти
  </ion-button>
</form>
