<app-categories *ngIf="!(questionsService.currentQuestion$ | async); else question" />

<ng-template #question>
  <app-question />
</ng-template>

<ion-alert
  *ngIf="this.errorMessage$ | async"
  [isOpen]="!!(this.errorMessage$ | async)"
  [header]="this.errorMessage$ | async"
/>

<ion-content class="ion-padding" *ngIf="this.errorMessage$ | async">
  <ion-text color="danger">
    <p class="ion-text-center">{{ this.errorMessage$ | async }}</p>
  </ion-text>
</ion-content>

<ion-loading class="quiz-loading" [isOpen]="(this.questionsService.isLoading$ | async) ?? false" />
